# /src/configs/infer/div2k_hr_baseModel.yaml

infer_data_loader:
  num_workers: 4
  batch_size: 1
  shuffle: false
  dataset:
    repeat: 1
    loader:
      loaderFuncName: div2k_hr
      loaderFuncArgs:
        storage_type: memory
        phase: infer
        inference_dir: ./input
        load_to_memory_config:
          max_memory_usage: null  # MB
          color_mode: RGB
          verbose: true
        split:
          splitFuncName: div2k_hr
          splitFuncArgs:
            data_path: /dataroot/liujiang/data/datasets/DF2K
            train_ratio: 0.9
            seed: 42
    handler:
      handlerFuncName: div2k_hr
      handlerFuncArgs:
        storage_type: memory
        color_mode: RGB
        phase: infer
        repeat: False
  collate:
    collateFuncName: div2k_hr
    collateFuncArgs:
      phase: infer
      patch_size: 128
      min_scale: 1
      max_scale: 4
      scale: 2
      interp_mode: bicubic

model:
  modelClsName: base_model
  modelClsArgs:
    phase: infer
    weight_path: ./checkpoints/best_model.pth
    local_patch_k: 3
    encoder:
      encoderClsName: base_encoder
      encoderArgs:
        in_channels: 3
        out_channels: 64
    decoder:
      decoderClsName: base_decoder
      decoderArgs:
        in_channels: 576   # local_patch_k^2 = 3^2 * 64 = 576
        out_channels: 3