# /src/configs/train/div2k_hr_baseModel.yaml

common:
  storage_type: disk

train_data_loader:
  num_workers: 4
  batch_size: 16
  shuffle: true
  dataset:
    repeat: 10
    loader:
      loaderFuncName: div2k_hr
      loaderFuncArgs:
        storage_type: ${common.storage_type}
        phase: train
        inference_dir: null
        load_to_memory_config:
          max_memory_usage: null  # MB
          color_mode: RGB
          verbose: true
        split:
          splitFuncName: div2k_hr
          splitFuncArgs:
            data_path: /dataroot/liujiang/data/datasets/DF2K
            train_ratio: 0.9
            seed: 42
    handler:
      handlerFuncName: div2k_hr
      handlerFuncArgs:
        storage_type: ${common.storage_type}
        color_mode: RGB
        phase: train
        repeat: True
  collate:
    collateFuncName: div2k_hr
    collateFuncArgs:
      phase: train
      patch_size: 128
      min_scale: 1
      max_scale: 4
      scale: 2
      interp_mode: bilinear
      normalize_config:
        normalize: true
        mean: [0.5, 0.5, 0.5]
        std: [0.5, 0.5, 0.5]

val_data_loader:
  num_workers: 4
  batch_size: 16
  shuffle: false
  dataset:
    repeat: 1
    loader:
      loaderFuncName: div2k_hr
      loaderFuncArgs:
        storage_type: ${common.storage_type}
        phase: val
        load_to_memory_config:
          max_memory_usage: null  # MB
          color_mode: RGB
          verbose: true
        split:
          splitFuncName: div2k_hr
          splitFuncArgs:
            data_path: /dataroot/liujiang/data/datasets/DF2K
            train_ratio: 0.9
            seed: 42
    handler:
      handlerFuncName: div2k_hr
      handlerFuncArgs:
        storage_type: ${common.storage_type}
        color_mode: RGB
        phase: val
        repeat: false
  collate:
    collateFuncName: div2k_hr
    collateFuncArgs:
      phase: val
      patch_size: 128
      min_scale: 1
      max_scale: 4
      scale: 2
      interp_mode: bilinear
      normalize_config:
        normalize: true
        mean: [0.5, 0.5, 0.5]
        std: [0.5, 0.5, 0.5]

model:
  modelClsName: base_model
  modelClsArgs:
    phase: train
    weight_path:
    local_patch_k: 3
    encoder:
      encoderClsName: base_encoder
      encoderArgs:
        in_channels: 3
        out_channels: 64
    decoder:
      decoderClsName: base_decoder
      decoderArgs:
        in_channels: 576   # local_patch_k^2 = 3^2 * 64 = 576
        out_channels: 3

train_config:
  optimizer_state: null
  experiments_root: ./experiments/
  device: cuda
  start_epoch: 0
  max_epochs: 1000
  best_val_loss: null
  save_interval: 5
  img_log_step: 200

  optimizer:
    optimizerClsName: Adam
    optimizerArgs:
      lr: 1e-4
      betas: [0.9, 0.999]
      weight_decay: 0

  lr_scheduler:
    schedulerClsName: StepLR
    schedulerArgs:
      step_size: 200
      gamma: 0.5

  loss:
    lossClsName: L1Loss
    lossArgs:
      reduction: mean